

.titulo{
  background-color: aquamarine;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: center;
  font-size: 30px;

}
.navbar{
    background-color:azure;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.saludo{
  background-color: rgb(134, 247, 247);
  border-radius: 10px;
}

.carrito{
  display: flexbox;
  flex-direction: column;

}

.btn-suma-resta{
  background-color: rgb(73, 103, 255);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  margin-right: 5px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-r{
  margin: 10px;
}





